.character-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.character-button {
    width: 18%;
    margin: 1%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.character-button img {
    width: 100%;
    height: auto;
}

.character-button p {
    margin-top: 10px;
    font-size: 16px;
}

