body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    display: flex;
    justify-content: center;
    align-items: center; /* Центрирование по вертикали */
    height: 100vh; /* Занимаем весь видимый экран по высоте */
}

.btn {
    display: inline-block;
    padding: 0;
    border: none;
    background: url('1.png') center center no-repeat; /* Путь к вашему изображению */
    background-size: cover; /* Растягиваем изображение, чтобы оно полностью покрывало кнопку */
    width: 200px; /* Ширина изображения */
    height: 200px; /* Высота изображения */
}

.btn:active {
    width: 175px; /* Уменьшаем ширину кнопки */
    height: 175px; /* Уменьшаем высоту кнопки */
    transition: width 0.2s, height 0.2s; /* Добавляем плавный переход для изменения размера */
}
