body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    display: flex;
    justify-content: center;
    align-items: center; /* Центрирование по вертикали */
    height: 100vh; /* Занимаем весь видимый экран по высоте */
}

.container {
    max-width: 390px;
}

.item {
    text-align: center;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    position: relative; /* Добавляем относительное позиционирование */
}

.btn {
    padding: 0;
    border: none;
    background: url('1.png') center center no-repeat; /* Путь к вашему изображению */
    background-size: cover; /* Растягиваем изображение, чтобы оно полностью покрывало кнопку */
    width: 200px; /* Ширина изображения */
    height: 200px; /* Высота изображения */
}

.btn:active {
    width: 175px; /* Уменьшаем ширину кнопки */
    height: 175px; /* Уменьшаем высоту кнопки */
    transition: width 0.2s, height 0.2s; /* Добавляем плавный переход для изменения размера */
}

.score-container {
    text-align: center;
    position: absolute; /* Добавляем абсолютное позиционирование */
    top: 70px; /* Подберите нужное значение отступа над кнопкой */
    width: 100%; /* Ширина равна ширине родительского контейнера */
}

.score {
    display: inline-block;
    margin: 0; /* Убираем внешние отступы */
    font-size: 24px;
}

/* Стили для вкладок */
.tabs {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 0;
}

.tab {
    /* Ваши текущие стили */
    padding: 5px 10px;
    border-radius: 3px;
    margin: 0 5px;
    width: 80px;
    height: 40px;
    font-size: 14px;
    background-size: contain; /* Растягиваем изображение, чтобы оно полностью помещалось в кнопку */
    background-position: center; /* Выравниваем изображение по центру кнопки */
}



.tab:hover {
    background-color: #ddd;
}
